.mainpage{
    position: absolute;
    top: 50px;
}

.mainlist{
    background: #7fffd400;
    width: 80em;
    height: 700px;    
    padding-top: 30px;
}
.col{
    width: 140px;
    height: 700px;
    margin-left: 3px;
    background: #ffebcd00;
    display: inline-block;
    border-left:grey 1px dotted;
    vertical-align: top
}

.leftcol{
    display: inline-block;
    width: 60px;
    background: #00ffff00;
    height: 700px;
    margin-right: 10px;
    position: relative;
}
.leftcol_time{
    font-size: 0.999em;
    margin-left: 10px;
}
.task{
    border: solid 1px;
    width: 143px;
    text-align: center;
    position: relative;
    left: -1px;
}

.task p{
    margin: -15px;
}
.date{
    position: relative;
    left: 5px;
    top: -30px;
}
    
.date p{
    font-size: 1.3em;
    display: inline;
}
.textbox{
    width: 500px;
    min-height: 60px;
    background: aliceblue;
    border: 1px solid beige;
    outline:none;
    text-align: left;
    display: inline-block;
    margin-right: 10px;
}

.errmsg{
    min-height:60px;
    color:red;
    display: inline-block;
    margin-left: 50px;
}

.delate_task{
    margin: 0px;
    padding: 0px;
    position: relative;
    top: -5px;
    border: none;
    color: black;
    background: #f0f8ff00;
    left: 64px;
    outline:none;
}
a{
    text-decoration: none;
color:black;
}
