.maindiv{
    height: auto;
    text-align: left;
    width: 100%;
    max-width: 800px;
    background: #a7a7a700;
    display: inline-block;
}

.mainpage{
    background:#f6f6f6;
}
body{
    text-align: center;
    margin: 0px;
}
.topbar{
    height: 50px;
    width: 100%;
    background: white;
    position: fixed;
    z-index: 9;
    text-align: left;
}


.tlogo{
    margin: 7px;
    font-size: 1.7em;
    font-family: fantasy;
    display: inline-block;
    color: black;
    padding-left: 50px;
}

.search{
    background: #eff1f5;
    display: inline-block;
    width: 200px;
    min-width: 300px;
    height: 35px;
    position: relative;
    left: 16%;
    max-width: 700px;
    outline: none;
    font-size: 1.4em;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}

.search_bt{

}

@keyframes leftcol_ani_rev
{
	0% {left:0px}
	100% {left:-310px;}
}
@keyframes leftcol_ani
{
	0% {left:-310px;}
	100% {left:0px}
}


.leftcol{
    width: 300px;
    height: 100%;
    position: fixed;
    background: #c6ffff00;
    z-index: 8;
    left: -310px;
    top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    padding-top: 70px;
    padding-bottom: 50px;
}
.inf_flew_div{

}

.leftcol_container{
    overflow: scroll;
    height: 100%;
    width: 300px;
    padding-right: 30px;
}
.blank_h200{
    width:100%;
    height:200px;
}

.col_flew_div{

}

.setting_logo{
    display: inline-block;
    margin: 0;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 100;
    position: fixed;
    right: 30px;
    top: 15px;
    cursor: default;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }

.leftcol_title{
    margin: 5px;
    margin-left: 20px;
    font-size: 1.3em;
}
.catory{
    display: inline-grid;
    margin: 2px;
    padding: 5px 10px;
    border-radius: 10px;    
}

.catory p{
    margin: 0;
}

.midcol{
    padding-top: 60px;

}

.rightcol{


}
.title_atr{
    font-weight: 500;
}

.ifo_div{
    background: white;
    margin: 10px;
    overflow: hidden;
    max-height: 500px
}

.logodiv{
    padding-left: 10px;
    display: inline-grid;
    width: 50px;
    vertical-align: top;
}

.logodiv img{
    height: 50px;
    width: 50px;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 10px;
}

.setting_h1{

}
.setting_h2{

}
.error_p{

}
.setting_div{
    background: #fbfcff;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 800px;
    height: 90%;
    left: 0;
    right: 0px;
    margin: auto;
    padding-top: 60px;
    overflow-y: scroll;
}

.author{
    margin: 0px;
    font-size: 1.2em;
    display: inline-block;
}

.time{
    margin: 0;
    color: #808080;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.describe{
    margin-bottom: 20px;

}

.describe img{
    max-width: 200px;
    max-height: 300px;
    display: inline-grid;
    cursor: zoom-in;
}

.bigpic{
    max-width: 100% !important;
    display: block !important;
    cursor: zoom-out !important;
    max-height: 100% !important;
}

.URLlink{
    display: block;
    color: black;
    background: #f0f0f0;
    text-decoration: blink;
}

.URLlink div{

}

.describe a{
    color:#307d74;
    text-decoration: none;
}

.title{
    display: inline-block;
    width: 50%;
    padding-left: 20px;
    font-weight: 900;
    vertical-align: top;
}

.lowdiv{
    padding: 20px 40px;
    padding-top: 0px;
}

.updiv{
    padding-top: 20px;
    padding: 10px;
}

.info_div{
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
}
.display_div{
    background: #ffffff24;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 55px;
    visibility: hidden;
}

.display_frame{
    height: 90%;
    text-align: left;
    width: 100%;
    background: #ffffff;
    display: inline-block;
    border: none;
    resize: both;
}

.URLdiv{
    height: 30px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    padding: 20px;
}